body {
    background: linear-gradient(to right, #00259e, #d400ff);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.enviar {
    background-color: white;
    color: #00259e;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 35px;
    font-size: 16px;
    min-width: 120px;
    margin-left: 270px;
}

.enviar:hover {
    background-color: #ba44ff;
    color: white;
    transition: 0.7s;
}

.formulario {
    text-align: center;
    margin-top: 40px;
}

fieldset {
    border: none;
}

legend {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 30px 40px 20px;
    border-radius: 35px;
    min-width: 400px;
    margin: 50px 300px 20px 300px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
}

input {
    width: 100%;
    padding: 15px 0px 15px 15px;
    margin-bottom: 15px;
    border: 1px rgb(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
}

input::placeholder {
    color: #00259e;
}

#resultado {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    margin: 50px 500px 50px 500px;
    padding: 10px;
}